{% extends 'base.html' %}


{% block title %}Modify room {{ room.name }}{% endblock %}

{% block content %}

<div align="center">
    <form action="" method="POST">
        {% csrf_token %}
        <label for="{{ form.name.id_for_label }}">Room name:</label><br>
        {{ form.name }}
        <br><label for="{{ form.capacity.id_for_label }}">Room capacity:</label><br>
        {{ form.capacity }}
        <br><label for="{{ form.projector.id_for_label }}">Projector availability:</label>
        {{ form.projector }}
        <br><input type="submit" value="Save">
    </form>


{#        <label for="name">Room name</label><br>#}
{#        <input type="text" id="name" name="name" value="{{ room.name }}" maxlength="255"><br>#}
{##}
{#        <label for="capacity">Room capacity</label><br>#}
{#        <input type="number"  min="0" id="capacity" name="capacity" value="{{ room.capacity }}"><br>#}
{##}
{#        <label for="projector">Projector availability</label><br>#}
{#        <input type="checkbox" id="projector" name="projector"><br><br>#}
{##}
{#        <input type="submit" value="Enter">#}
</div>

{% endblock %}
