{% extends 'base.html' %}


{% block title %}Add new conference room{% endblock %}

{% block content %}

<div align="center">
    <form action="" method="POST">
        {% csrf_token %}

        <label for="{{ form.name.id_for_label }}">Room name:</label><br>
        {{ form.name }}

        <br><label for="{{ form.capacity.id_for_label }}">Room capacity:</label><br>
        {{ form.capacity }}

        <br><label for="{{ form.projector.id_for_label }}">Projector availability:</label>
        {{ form.projector }}

        <br><input type="submit" value="Add">
    </form>
</div>

{% endblock %}
