<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- CSS -->
	<link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/style.css' %}">

    <title>{% block title %}{% endblock %}</title>
</head>
<body>

    <div class="header">
        <a class='head_a' href="{% url 'rooms_list' %}">Conference rooms</a>
        <a class='head_a' href="{% url 'add_new_room' %}">Add new room</a>
    </div>

    <div class="content">{% block content %}{% endblock %}</div>

    <div class="footer">
        <p>created with helps <a class="foot_a" href="https://coderslab.pl/"><b>CoderlsLab</b></a></p>
        <a class='foot_a' href="https://github.com/nikolska/">
            <b>Information about the author of the project</b>
        </a>
        <p>2021</p>
    </div>
</body>
</html>
