{% extends 'base.html' %}


{% block title %}Found conference room{% endblock %}

{% block content %}

{% if rooms_list %}
    <table>
        <tr>
            <th>Room name</th>
            <th>Room capacity</th>
            <th>Projector availability</th>
            <th>Room availability</th>
            <th>Book room</th>
            <th>Edit room</th>
            <th>Delete room</th>
        </tr>
        {% for room in rooms_list %}
            <tr align="center">
                <td><a href="{% url 'room_details' room.id %}">{{ room.name }}</a></td>
                <td>{{ room.capacity }}</td>
                <td>
                    {% if room.projector %}
                        &#9745;
                    {% else %}
                        &#9746;
                    {% endif %}
                </td>
                <td>
                    {% if room.reserved %}
                        &#9746;
                    {% else %}
                        &#9745;
                    {% endif %}
                </td>
                <td><a href="{%  url 'room_reserve' room.id %}">&#10065;</a></td>
                <td><a href="{%  url 'room_modify' room.id %}">&#10065;</a></td>
                <td><a href="{%  url 'room_delete' room.id %}">&#10065;</a></td>
            </tr>
        {% endfor %}
    </table>
{% else %}
    <h3 style="color: red">No conference rooms available for the given search criteria!</h3>
{% endif %}

{% endblock %}
