{% extends 'base.html' %}


{% block title %}Modify room {{ room.name }}{% endblock %}

{% block content %}

{% if message %}
    <h3 style="color: red">{{ message }}</h3>
{% endif %}

<form action="" method="POST">
    {% csrf_token %}
    <label for="name"></label>Room name<br>
    <input type="text" id="name" name="name" value="{{ room.name }}" maxlength="255"><br>

    <label for="capacity">Room capacity</label><br>
    <input type="number"  min="0" id="capacity" name="capacity" value="{{ room.capacity }}"><br>

    <label for="projector">Projector availability</label><br>
    <input type="checkbox" id="projector" name="projector"><br><br>

    <input type="submit" value="Enter">
</form>

{% endblock %}
